###> symfony/framework-bundle ###
/.env.local
/.env.local.php
/.env.*.local
/config/secrets/prod/prod.decrypt.private.php
/public/bundles/
/var/
/vendor/
###< symfony/framework-bundle ###

###> squizlabs/php_codesniffer ###
/.phpcs-cache
/phpcs.xml
###< squizlabs/php_codesniffer ###

###> symfony/phpunit-bridge ###
.phpunit
.phpunit.result.cache
/phpunit.xml
###< symfony/phpunit-bridge ###

###> dtdb
# ignore routing and translation files for the frontend
/public/js/fos_js_routes.js
/public/js/translations/
/public/suggestions.json
# Symfony v2 related
# Todo: remove after upgrade to SF v4.
web/bundles/

# workspace gunk, ignore
.settings/
.buildpath
.project
.DS_Store
.tags
###< dtdb
