{% extends 'base.html.twig' %}
{% block title %}Rulings and FAQ - Version 005-20151210{% endblock %}
{% block body %}
    <div class="container">
        <h1>{{ block('title') }}</h1>
        <article class="rules">
            <ul>
                <li><a href="http://www.alderac.com/doomtown/files/2014/09/DoomtownFAQRulings.pdf">FAQ V1</a></li>
                <li><a href="http://www.alderac.com/doomtown/files/2015/02/DoomtownFAQRulings_021715.pdf">FAQ V2</a></li>
                <li><a href="http://www.alderac.com/doomtown/files/2015/04/DoomtownFAQ003.pdf">FAQ V3</a></li>
                <li><a href="http://www.alderac.com/doomtown/files/2015/07/DoomtownFAQRulings_070315.pdf">FAQ V4</a></li>
            </ul>
        </article>
    </div>
{% endblock %}
