{% extends 'DtdbCardsBundle:Search:display.html.twig' %}

{% import "DtdbCardsBundle::suits.html.twig" as suits %}

{% block main %}


{% for row in 0..(cards|length-1)//4 %}
<div class="row" style="margin-bottom: 30px">
{% for col in 0..3 %}{% set index = row*4+col %}
{% if index in cards|keys %}

{% set card = cards[index] %}

<div class="col-sm-3">
	{% if card.imagesrc %}
	   <img src="{{ card.imagesrc }}" class="img-responsive" style="width:100%">
	{% else %}
	   <div class="no-image" style="width:100%"><div class="no-image-text">No image</div></div>
	{% endif %}
</div>


{% endif %}
{% endfor %}
</div>
{% endfor %}

{% endblock %}
