{% extends 'base.html.twig' %}
{% block body -%}
    <div class="container-fluid main">
        <div class="row">
            <div class="col">
                <div class="page-header">
                    <h1>Pack creation</h1>
                </div>
                <form action="{{ path('admin_pack_create') }}" method="post" {{ form_enctype(form) }}>
                    {{ form_widget(form) }}
                    <p>
                        <button type="submit">Create</button>
                    </p>
                </form>
                <ul class="record_actions">
                    <li>
                        <a href="{{ path('admin_pack') }}">
                            Back to the list
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
{% endblock %}
