<div style="width:600px;margin:auto;font: 16px/24px 'Lucida Grande', Helvetica, Arial, sans-serif;">

<p style="text-align:center;height:40px"><img style="height:100%;vertical-align:text-bottom" src="http://dtdb.co/apple-touch-icon.png"></p>

<p>Hello {{ username }}.</p>

<p>By now, you probably know that NetrunnerDB is closed. To be sure you didn't lose all your decks, I packed them all in a zip archive and here they are, ready to be imported in your next deckbuilder.</p>

<p>I still don't know exactly why <a href="http://fantasyflightgames.com/">AEG</a>, the game publisher, asked me to shut down NetrunnerDB. But there are <a href="http://www.reddit.com/r/Netrunner/comments/2h8i32/feedback_from_ffg_concerning_fair_use_in/">rumours</a> that AEG is preparing an Acceptable Use Policy to clarify what fan sites are allowed to do. If that is the case, depending on the terms of that licence, I may be able to re-open NetrunnerDB.</p>

<p>Until then,<br>
Make every click count!</p>

<p>&ndash;Alsciende</p>
</div>