{% extends 'DtdbBuilderBundle::layout.html.twig' %}

{% block title %}About{% endblock %}

{% block body %}
<div class="container">

<h1>{{ block('title') }}</h1>

<p>This website is dedicated to providing a fast, powerful and exhaustive deck builder and search engine for Doomtown cards, along with card descriptions and card scans.</p>
<p>This website is optimized for mobile browsing (WebKit), and I will try to keep it that way.</p>

<h2>Search syntax</h2>

<ul>
<li>a search string is a conjonction of one or more <b>conditions</b> separated by one or more spaces</li>
<li>a <b>condition</b> is either:
<ul>
<li>a <b>word</b> or <b>expression</b> or <b>disjonction</b></li>
<li>a <b>criteria</b> followed by an <b>operator</b> followed by a <b>word</b> or <b>expression</b> or <b>disjonction</b>
</ul>
</li>
<li>a <b>word</b> must match <tt>/[\w\-]/</tt>: letters, digits, dash</li>
<li>an <b>expression</b> is any text between <tt>"</tt></li>
<li>a <b>disjonction</b> is several <b>words</b> or <b>expressions</b> separated by <tt>|</tt></li>
<li>a <b>criteria</b> is a single letter:
<ul>
<li><tt>e</tt> &ndash; expansion</li>
<li><tt>t</tt> &ndash; type</li>
<li><tt>k</tt> &ndash; keywords</li>
<li><tt>g</tt> &ndash; gang</li>
<li><tt>s</tt> &ndash; shooter</li>
<li><tt>x</tt> &ndash; text</li>
<li><tt>r</tt> &ndash; cost</li>
<li><tt>w</tt> &ndash; wealth</li>
<li><tt>v</tt> &ndash; value</li>
<li><tt>u</tt> &ndash; upkeep</li>
<li><tt>p</tt> &ndash; production</li>
<li><tt>b</tt> &ndash; bullets</li>
<li><tt>i</tt> &ndash; influence</li>
<li><tt>c</tt> &ndash; control</li>
<li><tt>f</tt> &ndash; flavor</li>
<li><tt>a</tt> &ndash; artist</li>
<li><tt>d</tt> &ndash; release date</li>
</ul>
</li>
<li>an <b>operator</b> is either:
<ul>
<li><tt>:</tt> &ndash; equals</li>
<li><tt>!</tt> &ndash; different from</li>
<li><tt>&lt;</tt> &ndash; less than</li>
<li><tt>&gt;</tt> &ndash; more than</li>
</ul>
</li>
<li><b>Special case</b> <tt>d</tt> (release date) uses only the operators <tt>&lt;</tt> (inclusive) and <tt>&gt;</tt> (exclusive) and only understands the arguments <tt>now</tt> or a date YYYY-MM-DD</li>
</ul>

<h2>Search examples</h2>

<ul>
<li><span style="border:1px solid #888;font-family:monospace;padding:0 2px">dude</span> searches for all Dudes</li>
<li><span style="border:1px solid #888;font-family:monospace;padding:0 2px">t:dude k:abomination</span> searches for every Dude that has the keyword Abomination</li>
<li><span style="border:1px solid #888;font-family:monospace;padding:0 2px">x:"draw a card"</span> searches for all cards with the text "draw a card"</li>
<li><span style="border:1px solid #888;font-family:monospace;padding:0 2px">t:goods|spell</span> searches for all Goods and Spells</li>
<li><span style="border:1px solid #888;font-family:monospace;padding:0 2px">g:s i&gt;0</span> searches for all cards from The Sloane Gang with a non-null influence</li>
<li><span style="border:1px solid #888;font-family:monospace;padding:0 2px">t:deed k!"out of town"</span> searches for all deeds that are not out of town</li>
</ul>


</div>
{% endblock %}
