{% extends 'DtdbBuilderBundle::layout.html.twig' %}

{% block body %}

<div class="container decklists">
<div class="row">

<div class="col-md-12">
<h1>The Gracious Donators</h1>
<p class="lead">DoomtownDB wouldn't be the same without them. Many, many thanks.</p>
<ul>
{% for donator in donators %}
<li>
    <a href="{{ path('user_profile_view', {user_id:donator.id,user_name:donator.username|e('url')}) }}" class="username {{ donator.gang }}">{{ donator.username }}</a>
    <span class="glyphicon glyphicon-gift donator" title="DoomtownDB Gracious Donator"></span>
</li>
{% endfor %}
</ul>
</div>

</div>
</div> <!-- .container -->

{% endblock %}
