{% extends 'DtdbBuilderBundle::layout.html.twig' %}

{% block title %}Rulings and FAQ - Version 005-20151210{% endblock %}

{% block body %}
<div class="container">

<h1>{{ block('title') }}</h1>

<article class="rules">

<li><a href="http://www.alderac.com/doomtown/files/2014/04/DTR_Rulebook.pdf">Core Set Rulebook</a></li>
<li><a href="http://www.alderac.com/doomtown/files/2015/07/CompositeDTRrules_070315.pdf">Composite Rules V1</a></li>

</article>

</div>
{% endblock %}