{% extends 'DtdbBuilderBundle::layout.html.twig' %}

{% block title %}Change Log{% endblock %}

{% block body %}
<div class="container">

<h1>{{ block('title') }}</h1>

<p>Help us improve DoomtownDB by reporting bugs or proposing additional features on <a href="https://bitbucket.org/platypusDT/dtdb/issues?status=new&status=open" target="_blank">BitBucket</a>!</p>

<h2>Version 2.5.1</h2>

<ul>
<li>Work around for iOS users bug regarding the value buttons.</li>
<li>Composite rules updated.</li>
</ul>

<h2>Version 2.4</h2>

<ul>
<li>Adding value selectors in the deckbuilder.</li>
<li>Allowing each deck to be sorted in the user's decks page.</li>
<li>Adding the card name autocompletion when publishing a deck.</li>
<li>Tournaments property when publishing.</li>
<li>New factions from IOUF.</li>
</ul>

<h2>Version 2.3</h2>

<ul>
<li>Fixing deck exports.</li>
<li>Adding promos.</li>
<li>Allowing download of other users' decks.</li>
<li>Raising a warning when starting a dude from another outfit.</li>
<li>Various small layout changes.</li>
<li>Various small code fixes.</li>
</ul>

<h2>Version 2.2</h2>

<ul>
<li>Adding DoomtownDB icons.</li>
<li>Allowing user to sort a deck list when editing the deck.</li>
<li>Minor layout changes in the card search page.</li>
<li>Displaying the grifters in the "dudes" column when sorting a decklist by gang.</li>
<li>Minor display and code fixes.</li>
</ul>

<h2>Version 2.1</h2>

<ul>
<li>Adding a "rules" page, including rulebook, faq and floor rules.</li>
<li>Fixing syntaxic search when building decks.</li>
<li>Adding the image of the cards when hovering their name.</li>
<li>Displaying the starting posse in the highlighted deck.</li>
<li>Allowing to browse the reviews over 1 month old.</li>
</ul>

<h2>Version 2.0</h2>

<ul>
<li>Correction on starting values displayed (GR, influence and production).</li>
<li>Allowing to start multiple non-unique dudes.</li>
<li>Allowing to start Core deeds.</li>
<li>Additionnal verifications when building decks (negative starting GR, multiple unique dudes, more than 4 cards with same name, max starting posse size, ...).</li>
<li>Adding the option to sort by value the cards in the card listing.</li>
<li>Adding the option to sort by value and by gang the cards in the deck viewer.</li>
<li>Adding the experience level to dudes names.</li>
<li>Adding illustrators and flavor text to card entries.</li>
<li>Change of developper.</li>
<li>Change of webmaster.</li>
</ul>


</div>
{% endblock %}
