{% extends 'DtdbBuilderBundle::layout.html.twig' %}

{% block title %}Collected Rulings{% endblock %}

{% block body %}
<div class="container">

<h1>{{ block('title') }}</h1>

<article class="rules">

<nav class="inner">
<ul>
<li><a href="#sb04">Frontier Justice</a></li>
	<ul>
	<li><a href="#louis">Louis Pasteur</a></li>
	<li><a href="#jail">Gomorra Jail</a></li>
	<li><a href="#diable">Diable en Boite</a></li>
	<li><a href="#rmm">Recursive Motion Machine</a></li>
	<li><a href="#fancyhat">Fancy New Hat</a></li>
	<li><a href="#shield">Shield of Faith</a></li>
	<li><a href="#rope&ride">Rope and Ride</a></li>
	<li><a href="#incubation">Incubation</a></li>
	<li><a href="#flight">Flight of the Lepus</a></li>
	</ul>
<li><a href="#sb05">No Turning Back</a></li>
	<ul>
	<li><a href="#ebenezer">Ebenezer Springfield</a></li>
	<li><a href="#elanderxp">Elander Boldman (Exp.1)</a></li>
	<li><a href="#antheia">Antheia Pansofia</a></li>
	<li><a href="#harry">Harry Highbinder</a></li>
	<li><a href="#isham">Jacqueline Isham</a></li>
	<li><a href="#asyncoil">Asyncoil Gun</a></li>
	<li><a href="#scoop">Scoop Hound</a></li>
	<li><a href="#tonic">Vitality Tonic</a></li>
	<li><a href="#ntb">No Turning Back</a></li>
	</ul>
<li><a href="#sb06">Nightmare at Noon</a></li>
	<ul>
	<li><a href="#warren">Warren Graves</a></li>
	<li><a href="#radcliffe">John "Aces" Radcliffe</a></li>
	<li><a href="#duster">Dog's Duster</a></li>
	<li><a href="#fsatat">For Such a Time as This</a></li>
	<li><a href="#treasure">Buried Treasure</a></li>
	</ul>
<li><a href="#fp01">Immovable Object, Unstoppable Force</a></li>
	<ul>
	<li><a href="#ben">Benjamin Washington</a></li>
	<li><a href="#randall">Randall</a></li>
	<li><a href="#hamshanks">Hamshanks</a></li>
	<li><a href="#sarah">Sarah Meoquanee</a></li>
	<li><a href="#crow">Laughing Crow</a></li>
	<li><a href="#nunchucks">Nunchucks</a></li>
	<li><a href="#whatever">Idol of Tlazolteotl</a></li>
	<li><a href="#spirittrail">Spirit Trail</a></li>
	<li><a href="#packawakens">The Pack Awakens</a></li>
	</ul>
</ul>
</nav>

<h3 id="sb04">Frontier Justice</h3>
<br>

<h4 id="louis"><a href="http://dtdb.co/en/card/06006" class="card card-title" data-index="06006">Louis Pasteur</a></h4>
<ul>
<li>Louis makes the skill check, not the player, so Doyle's Hoyle can be used. (<a href="http://www.alderac.com/forum/viewtopic.php?f=375&t=113597#p1467534">Source</a>)
</ul>

<h4 id="jail"><a href="http://dtdb.co/en/card/06011" class="card card-title" data-index="06011">Gomorra Jail</a></h4>
<ul>
<li>Shootouts take place during the High Noon phase.
</ul>

<h4 id="diable"><a href="http://dtdb.co/en/card/06012" class="card card-title" data-index="06012">Diable en Boite</a></h4>
<ul>
<li>As it is a React ability (not Resolution), if it causes one posse to become empty, it will not immediately stop the shootout, and so the other player will still have to take casualties (if applicable). (<a href="http://www.alderac.com/forum/viewtopic.php?f=375&t=113784#p1471110">Source</a>)
<li>If the equipped dude is saved with Arnold McCadish or Lay On Hands, you cannot activate the React ability. (<a href="http://www.alderac.com/forum/viewtopic.php?f=375&t=113960#p1473630">Source</a>)
</ul>

<h4 id="rmm"><a href="http://dtdb.co/en/card/06014" class="card card-title" data-index="06014">Recursive Motion Machine</a></h4>
<ul>
<li>If a card effect says "move this dude into a posse", but the dude doesn't actually change location, you cannot use the React ability. (<a href="http://www.alderac.com/forum/viewtopic.php?f=375&t=113784#p1471110">Source</a>)
</ul>

<h4 id="fancyhat"><a href="http://dtdb.co/en/card/06016" class="card card-title" data-index="06016">Fancy New Hat</a></h4>
<ul>
<li>Does not work retroactively, only prevents future effects. (<a href="http://www.alderac.com/forum/viewtopic.php?f=375&t=113751#p1469945">Source</a>)
<li>Does not protect from traits (Hustings) or your own effects (Mortimer Parsons) (<a href="http://www.alderac.com/forum/viewtopic.php?f=375&t=113730#p1469940">Source</a>)
</ul>

<h4 id="shield"><a href="http://dtdb.co/en/card/06018" class="card card-title" data-index="06018">Shield of Faith</a></h4>
<ul>
<li>Your casualties are reduced by 1 only for this round; the rest of the effect applies for the whole shootout.
<li>Protects from Takin' Ya With Me and Hot Lead Flyin'.
<li>In the event of a tie in hand ranks, only the loser must discard/ace dudes (if it's a perfect tie, i.e. two Dead Man's Hands, then there is no loser). (<a href="http://www.alderac.com/forum/viewtopic.php?f=375&t=114058#p1474905">Source</a>)
<li>Casualties still apply, and the winner still has to cover as many as they can (matters if they have Harrowed dudes or Sidekicks. (<a href="http://www.alderac.com/forum/viewtopic.php?f=375&t=114735#p1483709">Source</a>)
<li>A player can ace opposing dudes if he owns them (i.e. affected by Puppet). (<a href="http://www.alderac.com/forum/viewtopic.php?f=375&t=114582#p1481895">Source</a>)
<li>Dude cards can still be discarded/aced from a player's hand (i.e. by This'll Hurt In The Mornin'). (<a href="http://www.alderac.com/forum/viewtopic.php?f=375&t=114829#p1484521">Source</a>)
</ul>

<h4 id="rope&ride"><a href="http://dtdb.co/en/card/06019" class="card card-title" data-index="06019">Rope and Ride</a></h4>
<ul>
<li>Opposing a job is not the same as accepting a callout. (<a href="http://www.alderac.com/forum/viewtopic.php?f=375&t=114833#p1484540">Source</a>)
<li>You can use two of these in succession, if your dude has an unbooted horse. (<a href="http://www.alderac.com/forum/viewtopic.php?f=375&t=114310#p1478471">Source</a>)
<li>If you call out a dude at an opponent's private location, then move them to a public location, your dudes will not get any bounty for breakin' and enterin'. (<a href="http://www.alderac.com/forum/viewtopic.php?f=375&t=113860#p1471988">Source</a>)
</ul>

<h4 id="incubation"><a href="http://dtdb.co/en/card/06020" class="card card-title" data-index="06020">Incubation</a></h4>
<ul>
<li>The affected dude's controller cannot use the ability printed on this card to reattach it to another dude. (<a href="http://www.alderac.com/forum/viewtopic.php?f=375&t=113784#p1471119">Source</a>)
<li>Forget cannot be used to remove the ability to discard Incubation from a dude. (<a href="http://www.alderac.com/forum/viewtopic.php?f=375&t=114169#p1476548">Source</a>)
</ul>

<h4 id="flight"><a href="http://dtdb.co/en/card/06021" class="card card-title" data-index="06021">Flight of the Lepus</a></h4>
<ul>
<li>You can choose your dudes and opposing dudes at the same time. (<a href="http://www.alderac.com/forum/viewtopic.php?f=375&t=113761#p1470083">Source</a>)
<li>You must boot either all of them or none. (<a href="http://www.alderac.com/forum/viewtopic.php?f=375&t=114398#p1479644">Source</a>)
<li>If you choose Tyxarglenak, you may also choose any hucksters in the opposing posse. (<a href="http://www.alderac.com/forum/viewtopic.php?f=375&t=113938#p1475274">Source</a>)
</ul>

<h3 id="sb05">No Turning Back</h3>
<br>

<h4 id="ebenezer"><a href="http://dtdb.co/en/card/07003" class="card card-title" data-index="07003">Ebenezer Springfield</a></h4>
<ul>
<li>'Affects' means 'Has a direct effect on your dude. Including boot/discard/ace your dude, turn him from stud to draw, increase/decrease bullets/influence/value. Does not include an indirect effect such as discarding an attached goods <li>even if the loss of the goods affects the dude.' (<a href="http://www.alderac.com/forum/viewtopic.php?f=375&t=114278#p1478300">Source</a>)
</ul>

<h4 id="elanderxp"><a href="http://dtdb.co/en/card/07004" class="card card-title" data-index="07004">Elander Boldman (Exp.1)</a></h4>
<ul>
<li>If he is in a shootout, his ability cannot be used to unboot a Gadget outside of the shootout. (<a href="http://www.alderac.com/forum/viewtopic.php?f=375&t=113994#p1478316">Source</a>)
</ul>

<h4 id="antheia"><a href="http://dtdb.co/en/card/07005" class="card card-title" data-index="07005">Antheia Pansofia</a></h4>
<ul>
<li>If Slade Lighbody pulls a club, then uses his ability and pulls another club, Antheia's bonus will apply twice. (<a href="http://www.alderac.com/forum/viewtopic.php?f=375&t=114309#p1478448">Source</a>)
</ul>

<h4 id="harry"><a href="http://dtdb.co/en/card/07006" class="card card-title" data-index="07006">Harry Highbinder</a></h4>
<ul>
<li>Controlling the town square means you can attach goods to your dudes there by Shoppin' or Tradin', attach Totems to the town square itself (<a href="http://www.alderac.com/forum/viewtopic.php?f=375&t=114723#p1483507">Source</a>), and also use Stagecoach Office to bring in new dudes there.
</ul>

<h4 id="isham"><a href="http://dtdb.co/en/card/07009" class="card card-title" data-index="07009">Jacqueline Isham</a></h4>
<ul>
<li>Don't forget to announce that you're using her ability, it doesn't trigger automatically.
<li>Her ability can be used if any of your dudes (including herself) accepted a callout or opposed a job. (<a href="http://www.alderac.com/forum/viewtopic.php?f=375&t=114579#p1481950">Source</a>)
<li>She remains a stud until the end of shootout. (<a href="http://www.alderac.com/forum/viewtopic.php?f=375&t=114204#p1476946">Source</a>)
</ul>

<h4 id="asyncoil"><a href="http://dtdb.co/en/card/07013" class="card card-title" data-index="07013">Asyncoil Gun</a></h4>
<ul>
<li>The equipped dude makes the pull, not the player, so Doyle's Hoyle can be used. (<a href="http://www.alderac.com/forum/viewtopic.php?f=375&t=114151#p1476298">Source</a>)
</ul>

<h4 id="scoop"><a href="http://dtdb.co/en/card/07014" class="card card-title" data-index="07014">Scoop Hound</a></h4>
<ul>
<li>Prevents Shootout plays that bring new dudes into play and move them into a posse (Raising Hell, Clown Carriage, Hired Help, Shane & Graves Security, Spirit Dance, The Pack Awakens). (<a href="http://www.alderac.com/forum/viewtopic.php?f=375&t=113984#p1474030">Source</a>)
</ul>

<h4 id="tonic"><a href="http://dtdb.co/en/card/07016" class="card card-title" data-index="07016">Vitality Tonic</a></h4>
<ul>
<li>If the React ability is used, effects that trigger on a dude being aced (The Brute, The Undertaker) do not trigger. (<a href="http://www.alderac.com/forum/viewtopic.php?f=375&t=114281#p1478286">Source</a>)
<li>If a dude is supposed to be aced to cover casualties but is saved with the Tonic's ability, that dude is now considered as being discarded as a casualty, and thus can be further saved by Arnold McCadish. (<a href="http://www.alderac.com/forum/viewtopic.php?f=375&t=114322#p1478579">Source</a>)
</ul>

<h4 id="ntb"><a href="http://dtdb.co/en/card/07021" class="card card-title" data-index="07021">No Turning Back</a></h4>
<ul>
<li>Token dudes can be aced normally. (<a href="http://www.alderac.com/forum/viewtopic.php?f=375&t=114386#p1479472">Source</a>)
<li>Acing a dude is part of the cost ("do X to do Y" format), thus React abilities cannot be used to save that dude from being aced (Dr. Emanuel Ashbel, Vitality Tonic, Lay On Hands), but a Harrewed dude will get discarded, not aced. (<a href="http://www.alderac.com/forum/viewtopic.php?f=375&t=114454#p1480433">Source</a>)
<li>Will set casualties to zero after Takin' Ya With Me and Hot Lead Flyin' increase them, effectively negating these cards. (<a href="http://www.alderac.com/forum/viewtopic.php?f=375&t=114734#p1483705">Source</a>)
</ul>

<h3 id="sb06">Nightmare at Noon</h3>
<br>

<h4 id="warren"><a href="http://dtdb.co/en/card/08005" class="card card-title" data-index="08005">Warren Graves</a></h4>
<ul>
<li>Warren's ability can be used even if the only dude in a posse is about to get discarded / aced / sent home, and the shootout will not end immediately. (<a href="http://www.alderac.com/forum/viewtopic.php?f=375&t=114814#p1484371">Source</a>)
</ul>

<h4 id="radcliffe"><a href="http://dtdb.co/en/card/08007" class="card card-title" data-index="08007">John &quot;Aces&quot; Radcliffe</a></h4>
<ul>
<li>After John's ability triggers, does he remain a stud until the end of shootout, or for the rest of the turn? (<a href="http://www.alderac.com/forum/viewtopic.php?f=375&t=114813#p1484370">Pending</a>)
</ul>

<h4 id="duster"><a href="http://dtdb.co/en/card/08013" class="card card-title" data-index="08013">Dog&#039;s Duster</a></h4>
<ul>
<li>Only prevents non-wanted Deputies from gaining a bounty for participating in a shootout at your opponent's private location (breakin' and enterin'). Does not affect dudes who are already wanted, and dudes participating in a Kidnappin'.</li>
</ul>

<h4 id="fsatat"><a href="http://dtdb.co/en/card/08017" class="card card-title" data-index="08017">For Such a Time as This</a></h4>
<ul>
<li>'This Miracle's skill check' means pull + modifiers, not difficulty.</li>
</ul>

<h4 id="treasure"><a href="http://dtdb.co/en/card/08020" class="card card-title" data-index="08020">Buried Treasure</a></h4>
<ul>
<li>Acing a dude card from the discard pile triggers the Undertaker.</li>
</ul>

<h3 id="fp01">Immovable Object, Unstoppable Force</h3>
<br>

<h4 id="ben"><a href="http://dtdb.co/en/card/09003" class="card card-title" data-index="09003">Benjamin Washington</a></h4>
<ul>
<li>If you discard several cards, you may choose several dudes and give -2 upkeep to each one. (<a href="http://www.alderac.com/forum/viewtopic.php?f=375&t=114730#p1483612">Source</a>)</li>
</ul>

<h4 id="randall"><a href="http://dtdb.co/en/card/09005" class="card card-title" data-index="09005">Randall</a></h4>
<ul>
<li>At the start of the game you draw exactly 5 cards, not up to your maximum hand size. (<a href="http://www.alderac.com/forum/viewtopic.php?f=375&t=114729#p1483609">Source</a>)</li>
</ul>

<h4 id="hamshanks"><a href="http://dtdb.co/en/card/09010" class="card card-title" data-index="09010">Hamshanks</a></h4>
<ul>
<li>Presumably works the same way as Tyxarglenak in relation to Flight of the Lepus.</li>
</ul>

<h4 id="sarah"><a href="http://dtdb.co/en/card/09025" class="card card-title" data-index="09025">Sarah Meoquanee</a></h4>
<ul>
<li>Her trait references the Spirit keyword that spells have, not Spirit tokens. (<a href="http://www.alderac.com/forum/viewtopic.php?f=375&t=114682#p1483180">Source</a>)</li>
</ul>

<h4 id="crow"><a href="http://dtdb.co/en/card/09027" class="card card-title" data-index="09027">Laughing Crow</a></h4>
<ul>
<li>You can attach revealed Spirit spells to any of your Shamans anywhere, including booted and in locations you don't control. This does not apply to Totems. (<a href="http://www.alderac.com/forum/viewtopic.php?f=375&t=114780#p1484044">Source</a>)</li>
</ul>

<h4 id="nunchucks"><a href="http://dtdb.co/en/card/09029" class="card card-title" data-index="09029">Nunchucks</a></h4>
<ul>
<li>Can be used to affect pulls performed by the opponent or opposing dudes (skill checks, etc.) (<a href="http://www.alderac.com/forum/viewtopic.php?f=375&t=114844#p1484606">Source</a>)</li>
</ul>

<h4 id="whatever"><a href="http://dtdb.co/en/card/09030" class="card card-title" data-index="09030">Idol of Tlazolteotl</a></h4>
<ul>
<li>To attach something legally means to attach it to something it could legally attach to as it enters play. (<a href="http://www.alderac.com/forum/viewtopic.php?f=375&t=114963#p1485907">Source</a>) That also means you can only re-attch Totems to locations that you control where you have an unbooted Shaman. (<a href="http://www.alderac.com/forum/viewtopic.php?f=375&t=114966#p1485927">Source</a>)</li>
</ul>

<h4 id="spirittrail"><a href="http://dtdb.co/en/card/09033" class="card card-title" data-index="09033">Spirit Trail</a></h4>
<ul>
<li>If one Spirit Trail is attached to your home and another one to any deed (even out of town), your dudes can move from home to that deed without booting, as these locations are now adjacent. (<a href="http://www.alderac.com/forum/viewtopic.php?f=375&t=114728#p1483608">Source</a>)</li>
<li>A Shaman with a Buffalo Rifle can join the shootout at that deed from home, without moving or booting, and can use Totems attached to your home.</li>
</ul>

<h4 id="packawakens"><a href="http://dtdb.co/en/card/09035" class="card card-title" data-index="09035">The Pack Awakens</a></h4>
<ul>
<li>Can be used only if your Shaman is present at this location and is participating in the shootout. (<a href="http://www.alderac.com/forum/viewtopic.php?f=375&t=114678#p1483164">Source</a>)</li>
<li>Enemy Gunslinger tokens also become Harrowed.</li>
<li>General Store cannot be used to attach Totems to locations you don't control, or locations where you only have a booted Shaman. (<a href="http://www.alderac.com/forum/viewtopic.php?f=375&t=114694#p1483884">Source</a>)</li>
<li>Can a Shaman affected by Unprepared use Totems? (<a href="http://www.alderac.com/forum/viewtopic.php?f=375&t=114786#p1484106">Pending</a>)</li>
</ul>

</article>

</div>
{% endblock %}