{% extends 'DtdbBuilderBundle::layout.html.twig' %}

{% block title %}Comprehensive Doomtown Reloaded Rules{% endblock %}

{% block body %}
<div class="container">

<h1>{{ block('title') }}</h1>

<article class="rules">
<h1 style="text-align:center">Doomtown: Reloaded Floor Rules<br>Effective June 2015</h1>

<nav class="inner">
<h2>Table of Contents</h2>
<ul>
<li><a href="#intro"><b>Introduction</b></a></li>
<li><a href="#1"><b>Section 1: Tournament Information</b></a></li>
	<ul>
	<li><a href="#1a">1.A. Tournament Types</a></li>
	<li><a href="#1b">1.B. Tournament Roles</a></li>
	<li><a href="#1c">1.C. Participation Eligibility</a></li>
	<li><a href="#1d">1.D. Tournament Tiers</a></li>
	</ul>
<li><a href="#2"><b>Section 2: Tournament Personnel</b></a></li>
	<ul>
	<li><a href="#2a">2.A. Tournament Organizer</a></li>
	<li><a href="#2b">2.B. Head Judge</a></li>
	<li><a href="#2c">2.C. Floor Judge</a></li>
	<li><a href="#2d">2.D. Scorekeeper</a></li>
	<li><a href="#2e">2.E. Player</a></li>
	<li><a href="#2f">2.F. Spectator</a></li>
	</ul>
<li><a href="#3"><b>Section 3: Tournament Mechanics</b></a></li>
	<ul>
	<li><a href="#3a">3.A. Match Structure</a></li>
	<li><a href="#3b">3.B. Pregame and Game Startup Procedures</a></li>
	<li><a href="#3c">3.C. Drawing and Conceding Matches</a></li>
	<li><a href="#3d">3.D. End-of-Match Procedure</a></li>
	<li><a href="#3e">3.E. Time Extension</a></li>
	<li><a href="#3f">3.F. Appeals</a></li>
	<li><a href="#3g">3.G. Dropping from a Tournament</a></li>
	<li><a href="#3h">3.H. Match Points</a></li>
	<li><a href="#3i">3.I. Two out of Three Matches</a></li>
	<li><a href="#3j">3.J. "Top of Outfit"</a></li>
	<li><a href="#3k">3.J. Passing and "Check"</a></li>
	</ul>
<li><a href="#4"><b>Section 4: Tournament Formats</b></a></li>
	<ul>
	<li><a href="#4a">4.A. Card Legality</a></li>
	<li><a href="#4b">4.A. Multi-Day Tournaments</a></li>
	<li><a href="#4c">4.A. Invitational Tournaments</a></li>
	</ul>
<li><a href="#5"><b>Section 5: Sanctioning Guidelines</b></a></li>
	<ul>
	<li><a href="#5a">5.A. Attendance</a></li>
	<li><a href="#5b">5.B. Number of Rounds and Cuts</a></li>
	<li><a href="#5c">5.D. Round Time</a></li>
	<li><a href="#5d">5.E. Event Schedule</a></li>
	<li><a href="#5e">5.F. Venue Logistics</a></li>
	<li><a href="#5f">5.G. Electronic Event Software</a></li>
	</ul>
<li><a href="#6"><b>Section 6: : Judging Resources</b></a></li>
	<ul>
	<li><a href="#6a">6.A. Active Judging</a></li>
	<li><a href="#6b">6.B. Violations & Penalties</a></li>
	</ul>
<li><a href="#7"><b>Section 7: Tie Break Math</b></a></li>
	<ul>
	<li><a href="#7a">7.A. Match Points</a></li>
	<li><a href="#7b">7.B. Match-Win Percentage</a></li>
	<li><a href="#7c">7.C. Opponents' Match-Win Percentage</a></li>
	<li><a href="#7d">7.D. Event Entry</a></li>
	<li><a href="#7e">7.E. Byes</a></li>
	</ul>
</ul>
</nav>

<h2 id="intro">Introduction</h2>

<p>The purpose of this document is to provide the complete guidelines needed to run all
tournaments for Alderac Entertainment Group (AEG) by defining appropriate rules,
responsibilities, and procedures. All AEG tournaments are to follow this document regardless
of specific event circumstances. This ensures equal treatment of Players and tournament
officials in different regions and nations. By adhering to this document, we establish a
standard that will ensure the continued success of AEG games and tournaments.</p>

<p>All Players and tournament officials share equal responsibilities according to the exact
format of each event. Both Players and tournament officials should be familiar with their
particular roles as described in the most current version of this document. Players and
tournament officials must act in a fair and respectful manner at all times, following both the
letter and spirit of the rules.</p>

<p>Specific events may have additional guidelines. Any contradiction between the floor rules
and guidelines for a specific event will be highlighted and announced prior to the event date,
after having been approved by the AEG Major Events Manager. If a question occurs
regarding priority, the event-specific guidelines take precedence and ultimately the
Tournament Organizer is the final authority.</p>

<p>Information in this document may contradict that contained in the Doomtown Rulebook, the
AEG forums, and previous rules documents. In all cases, this document takes precedence.
AEG reserves the rights to alter, interpret, clarify, or otherwise issue official changes to
these rules without prior notice. AEG will make every effort to announce any changes at
least thirty (30) days prior to their implementation. Circumstances may occur necessitating
faster implementation. Each year, AEG will review and revise the floor rules document, as
needed. The most current version will be released each year on January 1st.</p>

<p>As need arises, Players and tournament officials may need to contact AEG for clarifications,
interpretations, and other questions. This is done through <a href="mailto:events@alderac.com">events@alderac.com</a>. This is the
same address used for appeals and to report rules infractions.</p>

<p>This document is designed for use in combination with the AEG Code of Conduct, which can
be found alongside this document at <a href="http://www.alderac.com/doomtown/rules/">http://www.alderac.com/doomtown/rules/</a>.</p>

<h2 id="1">Section 1: Tournament Information</h2>

<h3 id="1a">1.A. Tournament Types</h3>

<p>Sanctioned tournaments are divided into two (2) types: Sheriff/Marshal Events and Local
Events. Sheriff and Marshal Events are run by AEG or select Tournament Organizers. They
have unique names and features. Local Events are tournaments that are not explicitly
Sheriff or Marshal Events.</p>

<h3 id="1b">1.B. Tournament Roles</h3>

<p>The following roles are defined for tournament purposes. The first four (4) roles are
considered "tournament officials". A single individual may act in multiple roles in Local
Events, but this arrangement must be clarified at the start of said tournament.</p>

<p>Some events will have requirements that each of the first four (4) roles may not participate
in the event competitively, e.g. playing in the tournament. An example of this would be
Sheriff and Marshal Events. Individuals who are not judges at a tournament or actively
involved in playing a match are considered spectators.</p>
<ul>
<li>Tournament Organizer</li>
<li>Head Judge</li>
<li>Floor Judge</li>
<li>Scorekeeper</li>
<li>Player</li>
<li>Spectator</li>
</ul>

<h3 id="1c">1.C. Participation Eligibility</h3>

<p>Anyone is eligible to participate as a Player in an AEG tournament with the exception of the
following:</p>

<ul>
<li>Individuals currently under suspension by AEG; a list of such individuals will be
provided to Tournament Organizers upon request</li>
<li>Individuals currently under lifetime ban by AEG; a list of such individuals will be
provided to Tournament Organizers upon request</li>
<li>Any paid employee of AEG unless given specific permission prior to the event date by
the AEG Major Events Manager</li>
<li>Anyone prohibited by national, federal, state, or local laws</li>
<li>Anyone specifically prohibited by the Tournament Organizer or Venue Management
(If any Player is prohibited under this clause, a detailed explanation must be
provided to AEG prior to the date of the tournament)</li>
</ul>

<p>Players under the age of 13 must provide parental consent. The parent or legal guardian
must either be present at the event or provide written consent to the Tournament Organizer.</p>

<p>Anyone is eligible to participate as a tournament official (Tournament Organizer, Head
Judge, Floor Judge, or Scorekeeper) for a tournament with the exception of:</p>
<ul>
<li>Individuals currently suspended or banned by AEG</li>
<li>In Sheriff and Marshal Events, anyone who is playing in the tournament, unless it is
a tournament that explicitly allows tournament officials to play while acting as a
tournament official</li>
</ul>

<p>Tournament officials may play in Local Events for which they are acting as tournament
officials.</p>

<h3 id="1d">1.D. Tournament Tiers</h3>

<p>All Doomtown events fall into one (1) of two (2) tiers:</p>
<ol>
<li>Sheriff and Marshall Events</li>
<li>Local Events</li>
</ol>

<p>The following is a list of the tiers and the events they include. Sheriff and Marshal Events are
organized through AEG (both directly and indirectly). The Floor Rules can apply equally to
both types of events. <b><i>Local Events (i.e. store level events that are not coordinated
through AEG) do not require use of the floor rules, but it is recommended that all
participants utilize them as a guideline in preparation for larger scale events.</b></i></p>
<ul>
<li><ins>Sheriff and Marshall Events</ins></li>
	<ul>
	<li>Regional Sheriff Events</li>
	<li>National Marshall Events</li>
	<li>International Marshall Events</li>
	</ul>

<li><ins>Local Events</ins></li>
	<ul>
	<li>Standard Store Organized Play (OP) Kit Events</li>
	<li>Store Deputy Events</li>
	</ul>
</ul>
<h2 id="2">Section 2: Tournament Personnel</h2>

<p>This section addresses specific expectations and duties attributed to the various tournament
roles.</p>

<h3 id="2a">2.A. Tournament Organizer</h3>

<p>The Tournament Organizer (TO) of an event is responsible for all tournament logistics
including:</p>

<ul>
<li>Securing sanctioning from AEG where needed</li>
<li>Providing a site for the tournament that meets expected needs</li>
<li>Promoting the tournament in advance of the tournament date</li>
<li>Staffing the tournament with appropriate tournament officials</li>
<li>Providing all materials necessary to operate the tournament</li>
<li>Providing for and distributing all prizes, both those provided by AEG for the specific
event and additional prize support as warranted by the size of the event</li>
<li>Reporting the tournament results to AEG in a timely fashion following the completion
of the event</li>
<li>Assisting in all other duties of the event so that the event runs smoothly and
efficiently</li>
<li>Being the final arbitrator of any disputes and being accountable to AEG for any
decisions that occur at the event</li>
<li>Collect and submit the 1st and 2nd place deck lists to AEG for any Sheriff or Marshal
Event</li>
<li>Verify that the event meets all national, federal, state and/or local laws</li>
</ul>

<p>The TO will never be the final arbitrator of any dispute concerning the mechanical rules of
the game, this duty falls under the authority of the Head Judge. In extremely rare
circumstances, the TO can overrule the Head Judge concerning anything not specifically
related to the mechanical rules of the game, but must have sufficient reason to do so. This
action is only taken in response to specific misconduct on the part of a tournament official,
requiring his/her replacement mid-event. Misconduct of a tournament official can best be
defined as any action that would make him/her no longer eligible to act in that role. This
action is subject to full review on the part of AEG.</p>

<p>At Local Events and events specifically designated by AEG as lower priority, the TO may
perform any and all duties normally delegated to other tournament officials. It is
recommended that at lower turnout events, the TO should include additional support to
provide for a better event experience, but this is not required.</p>

<p>In circumstances requiring cross language translation, the TO will make every possible effort
to ensure adequate resources are available. For International Marshal Events (i.e. World
Championships), the default language should be posted prior to the event date.</p>

<h3 id="2b">2.B. Head Judge</h3>

<p>Sanctioned tournaments require the physical presence of a Head Judge during play to
adjudicate disputes, interpret rules, and make other official decisions. The Head Judge is the
final judicial authority at any sanctioned tournament and all Players are expected to follow
his or her interpretations.</p>

<p>The Head Judge is expected to have a complete knowledge of the mechanical rules of the
game, including the Comprehensive Rules and AEG Code of Conduct, as well as any specific
errata and FAQ clarification as released by AEG, all of which can be found at
<a href="http://www.alderac.com/doomtown/rules/">http://www.alderac.com/doomtown/rules/</a>.
</p>

<p>The Head Judge's responsibilities include:</p>

<ul>
<li>Monitoring for any rules infractions or mechanical errors and correcting those errors
at all times as he/she observes them</li>
<li>Being present on the play floor at all times during a round as long as games are in
progress (If at least two (2) Floor Judges are available, this duty may be passed off
to them in order to help the TO prepare the next round)</li>
<li>Ensuring that all necessary steps are taken to deal with rule violations, including
those directly observed by the Head Judge and those reported to him/her</li>
<li>Issuing the final ruling in all appeals, potentially overturning the ruling of a floor
judge</li>
<li>Coordinating and delegating tasks to floor judges as needed</li>
<li>Reporting any rules infractions and penalties issued to the TO, explaining or
consulting as required</li>
<li>Having on hand a copy of the AEG Code of Conduct, which can be found alongside
this document at <a href=" http://www.alderac.com/doomtown/rules/"> http://www.alderac.com/doomtown/rules/</a>.</li>
</ul>

<p>If necessary, the Head Judge may temporarily transfer his or her duties to any judge if
he/she is unable to fulfill them for a period of time. Certain Sheriff and Marshal Events may
have multiple Head Judges (e.g. GenCon, which is run by AEG) and/or different Head Judges
for different portions of the tournament. Any such event will be announced prior to the event
date. All Head Judges share the same responsibilities and exercise the same authority while
they are serving as a Head Judge.</p>

<p>Judges will not generally assist Players in determining the current game state, but can
answer questions about the rules, interactions between cards, and/or provide the errata
wordings of relevant cards. If a Player wishes to ask a question away from the table, the
request will usually be honored. Players may not request specific judges to answer their
questions, but may appeal any decision to the Head Judge.</p>

<p>Judges do not intervene in a game to prevent illegal actions, but do intervene as soon
as a rule has been broken or to prevent a situation from escalating.</p>

<h3 id="2c">2.C. Floor Judges</h3>

<p>Floor Judges usually consist of two (2) or three (3) individuals coordinated by the TO to
assist the Head Judge.</p>

<p>Floor Judges are expected to have an advanced knowledge of the mechanical rules of the
game, including the Comprehensive Rules and AEG Code of Conduct, as well as any specific
errata and FAQ clarification as released by AEG, all of which can be found at
<a href="http://www.alderac.com/doomtown/rules/">http://www.alderac.com/doomtown/rules/</a>.</p>

<p>Floor Judges fall into one of two (2) categories: assistant judges and player judges.</p>

<p>Assistant judges are lower level judges who do not play in the events and whose sole duty is
to assist the Head Judge in performing his/her various duties. The assistant judge(s) is the
default backup should the Head Judge need to step down during an event for any reason.
This transfer can be temporary or for the remainder of the event. If the Head Judge needs to
be replaced for the duration of the event, clarification may need to be provided to the AEG
Major Events Manager as requested.</p>

<p>Player judges are individuals, designated by the Head Judge prior to the 1st Round of an
event beginning, who are allowed to answer rules questions. Player judges are Players who
possess an advanced knowledge of the rules and are willing to help the Head Judge with
his/her duties when not engaged in a match. The player judge may not at any time replace
the Head Judge while they remain an active Player in the event. A player judge will not issue
penalties for any rules infractions, but will report them to an assistant or Head Judge for
further action. A player judge is expected to remain in the play area when not playing but
while other games are still in progress to answer any questions or disputes that arise. Any
ruling by a player judge may be appealed to the Head Judge.</p>

<p>A Floor Judge's responsibilities include:</p>
<ul>
<li>Monitoring for any rules infractions or mechanical errors and reporting those errors
as he/she observes them</li>
<li>Replacing the Head Judge by physically remaining on the play floor at all times
during a round as long as games are in progress (See Head Judge duties for further
information)</li>
</ul>

<p>Judges will not generally assist Players in determining the current game state, but can
answer questions about the rules, interactions between cards, and/or provide the errata
wordings of relevant cards. If a Player wishes to ask a question away from the table, the
request will usually be honored. Players may not request specific judges to answer their
questions, but may appeal any decision to the Head Judge.</p>

<p>Judges do not intervene in a game to prevent illegal actions, but do intervene as soon
as a rule has been broken or to prevent a situation from escalating.</p>

<h3 id="2d">2.D. Scorekeeper</h3>

<p>The Scorekeeper ensures the correct generation of pairings and all other tournament records
throughout the tournament. He/She is expected to know, utilize, and answer questions
regarding the electronic software.</p>

<p>The Scorekeeper's responsibilities include:</p>
<ul>
<li>Generating pairings, provide postings of said pairings, and printing Result Entry Slips
for each round</li>
<li>Accurately entering the results of each round in a timely fashion</li>
<li>Keeping track of the time remaining in the round and communicating this number to
both the TO and Head Judge as required</li>
<li>Solving all scorekeeping problems that arise in consultation with the TO</li>
<li>Accurately filling out the entire event in the electronic software, saving a physical or
electronic report should the AEG Major Events Manager need to address any disputes
at a later date</li>
</ul>

<p>The TO has the final authority in determining corrective action for scorekeeping errors; this
should be made in consultation with the Head Judge.</p>

<h3 id="2e">2.E. Players</h3>

<p>A Player is defined as any individual who is participating in any event regardless of tier.
Players are expected to follow a certain code of conduct as well as any rules and laws
specific to the location of the event.</p>

<p>Each Player's responsibilities include:</p>
<ul>
<li>Behaving in a respectful manner toward all tournament officials, other Players, and
spectators</li>
<li>Refraining from unsportsmanlike conduct at all times</li>
<li>Maintaining a clear and legal game state and communicating this to both opponents
and judges requesting the information</li>
<li>Complying with announced start times and time limits and reporting results in a
timely fashion</li>
<li>Maintaining a consistent deck of the same fifty-two (52), fifty-three (53), or fifty-four
(54) cards and outfit through the course of a single tournament</li>
<li>Sleeving all cards to be used in play with opaque deck sleeves that are not
distinguishable in any way from one another, non-reflective, do not contain
distracting or offensive markings, and do not obscure the card face ("Deck Backing"
or using transparent sleeves and obscuring the card backs with a second card or
piece of paper is acceptable in place of opaque sleeves, provided that all deck
backings are uniform, not distinguishable from one another, and not backed with
cards currently legal for tournament play)</li>
<li>Bringing to a judge's attention any rules or policy infraction noticed during his/her
matches</li>
<li>Bringing to a judge's attention any discrepancies in his/her tournament match record</li>
<li>Refraining from registering in tournaments in which he/she is not allowed to
participate by policy</li>
<li>Being familiar with the rules contained within this document</li>
<li>Bringing the following items to a tournament in order to participate:</li>
	<ul>
	<li>A physical, visible, and reliable method of maintaining and recording game
	information (poker chips, tokens, score counters, pen and paper, etc.);
	Players are responsible for knowing both his/her own game totals (such as
	ghost rock) at all times and be clearly able to track and provide this
	information (a notepad and writing utensil is ideal, but counters, dice, etc.
	are also commonly used and acceptable)</li>
	<li>Any materials specifically required for a particular tournament format, such
	as assembled decks and/or deck lists</li>
	<li>Any physical tokens required via game mechanics to be represented in the
	game (If multiple tokens are generated, multiple tokens should be used; if
	multiple tokens types are created, then each type should be visually distinct)</li>
	</ul>
</ul>

<p>The use of a play mat is also fairly standard practice. The artwork represented on the play
mat must be non-offensive and not contain any reflective or intentionally distracting images.
No cards may be placed beneath the play mat at any time during the match.</p>

<p>If a Player finds a particular sleeve, deck backer, or play mat used by an opponent to be
distracting or offensive, he/she may request that they no longer be used. The TO is the final
arbitrator of any such dispute; the TO will always attempt to decide such disputes in the best
interest of the orderly management of the event and the enjoyment of as many participants
as possible.</p>

<p>Players are expected to act appropriately at all times. If any Player encounters a problem
with, or becomes uncomfortable due to the behavior of another Player, they should report it
to the TO immediately. The TO will attempt to resolve the situation in a swift and dignified
manner to the best of his/her ability.</p>

<li>The following are general points to keep in mind:</li>
<ul>
<li>All Players are expected to have and maintain an appropriate level of personal
hygiene.</li>
<li>All Players must refrain from the consumption of illegal drugs immediately prior to or
during any event.</li>
<li>A TO may allow the sociable and responsible consumption of alcohol at an event,
subject to prior announcement. All alcohol consumption must follow local law and
any additional restrictions announced by the TO (for example, drinking only alcohol
purchased from an on-site bar). Intoxication is not an excuse for disruptive behavior.
The TO may, at any point, eject any Players and/or tournament officials on the
grounds of excessive or disruptive intoxication.</li>
<li>All Players must act in an honorable and sportsmanlike manner. This includes all
times during, before, and after the event. Regardless of circumstances, this applies
to all Players and tournament officials in relation to everyone. Recognizing that
sportsmanlike behavior is a subjective trait, the TO is the sole arbiter of what
constitutes acting in an unsportsmanlike manner for a given event and venue.</li>
<li>Be sensitive to the feelings of others. Any language, behavior, or dress that is
derogatory or offensive for ANY reason is not acceptable.</li>
</ul>

<p>Players who do not fulfill their responsibilities may be subject to penalties and review by
AEG. The AEG Major Events Manager will arbitrate any questions. AEG reserves the right to
suspend or otherwise penalize any Player without prior notice for any reason they deem
necessary.</p>

<h3 id="2f">2.F. Spectators</h3>

<p>Any person physically present at an event and not in any other category above is a
Spectator. Spectators are responsible for remaining silent and passive during matches and
other official tournament sections in which Players are also required to be silent. If
Spectators believe they have observed a rules or policy violation, they are encouraged to
alert a Judge as soon as possible. This should be done in a manner that does not interfere
with the game in progress. The Judge will intervene if a valid need arises.</p>

<p>Players may request that a Spectator not observe their matches. Such requests must be
made through a Judge. Tournament officials may also instruct a Spectator not to observe a
match or matches.</p>

<p>Any Player not actively playing in a match is considered a Spectator under this section.</p>

<h2 id="3">Section 3: Tournament Mechanics</h2>

<h3 id="3a">3.A. Match Structure</h3>

<p>Matches of Doomtown: Reloaded are a single game of one (1) Player versus another, with
the standard time limit of forty (40) minutes per round. This time limit is considered the
baseline for all tournament formats. If any changes are desired, they must be cleared with
AEG thirty (30) days before the event date, and must be announced accordingly thirty (30)
days before the event date. No clearance is needed to alter any of the floor rules for Local
Events. Both Players play until a Player has won the game or the round ends. If the round
ends before a winner is determined, the match is a draw.</p>

<p><a href="#3i">Section 3.I</a> is a variant match structure. This structure must be approved by AEG before
being used in any Sheriff or Marshal Event. If approved, this change must be used during the
entire event and must be announced at least thirty (30) days prior to the event.</p>

<h3 id="3b">3.B. Pregame and Game Startup Procedures</h3>

<p>The following steps must be performed in a timely manner before each match begins:</p>
<ol>
<li>Players reveal their starting outfits simultaneously. Players then choose and reveal
their starting cards simultaneously.</li>
<li>Players completely shuffle their decks.</li>
<li>Each Player presents his/her deck to his/her opponent for additional shuffling and/or
a cut. Once a deck has been cut/shuffled and returned, either Player may not further
manipulate it. The sole exception to this is either Player may request that a judge
shuffle and/or cut one or both decks. This should be done with care and for specific
explainable reasons only. Abuse of this request may be grounds for a penalty.</li>
<li>Each Player draws the appropriate starting play hand. Optionally, these cards may be
dealt face down on the table before actually drawing them into hand. This is done to
visibly verify to each Player that the correct number is drawn, and while not
required, it is highly recommended in Sheriff and Marshal Event competitive play.</li>
</ol>

<p>All effects/reacts that occur before game's first turn (e.g. Grifter abilities) may be performed
before time for the match has officially begun. The first Gamblin' phase cannot begin until
the round has started.</p>

<p>If there are such effects/reacts that could conflict before a Winner has been determined
during the Gamblin' phase, use the following resolution procedure:</p>
<ol>
<li>All Players make a choice as to whether they are going to use or pass on the ability.
Each Player then conceals a token in his/her hand using an agreed color code to
indicate his/her intention to use the ability, such as a red token to signal use and
blue to indicate no intention to use, and holds this hand out towards the other
Player.</li>
<li>Both Players open their hands simultaneously and use the ability or not, as indicated
by their chosen token. If a Player fails to hold out a token, he/she passes the use of
the ability.</li>
<li>Players that elected to perform an ability decide which of them activates it first by
coin toss, with the winner activating first.</li>
<li>Once all pregame abilities have been resolved, both Players shuffle their respective
decks, presenting them to their opponent for cut/shuffle as detailed above.</li>
</ol>

<h3 id="3c">3.C. Drawing and Conceding Matches</h3>

<p>Players may concede or mutually agree to a draw in any game or match. A match is
considered complete as soon as the Result Entry Slip is filled out. Until that point, either
Player may concede to or draw with the other. Intentional draws are always reported as
0-0-1.</p>

<p>Both Players must agree to any such result that does not come from having played out the
single game match to its completion.</p>

<p>Players may not agree to a concession or draw in exchange for any reward or incentive. This
includes splitting potential prizes, bounties, or other non-tangible items. Doing so will be
considered bribery and will be penalized as such.</p>

<p>If a Player refuses to play, for any reason, it is assumed that he/she has conceded the
match.</p>

<h3 id="3d">3.D. End-of-Match Procedure</h3>

<p>Each match has a specified time limit, typically forty (40) minutes. Players must determine a
match winner before the time limit ends. The TO will announce a five (5) minute warning
prior to this point.</p>

<p>At the end of the time limit, any unresolved play conditions are resolved (e.g. a shootout is
finished, finish selecting targets for a Noon ability and finish its effects, etc.). If the game is
in any part of the Sundown phase, the game stops immediately and each Player checks for
victory/tiebreakers. If the game is not in the Sundown phase, each Player receives three (3)
Noon plays, beginning with the next Player to have the opportunity to make one. After each
Player has had three (3) Noon plays (or sooner if both Players pass), Sundown is enforced. If
there is not a clear victory, a tiebreaker will be assessed to decide the winner.</p>

<p>The winner is determined using the following procedure, moving to each subsequent step
until a clear winner is declared:</p>
<ol>
<li>If one Player has more control points than the other Player has influence and the
other Player does not, that Player is declared the winner. This is the normal victory
condition; if both Players have more control points than the other has influence,
continue to the next condition.</li>
<li>Comparing each Player's influence with the other Player's control points, the Player
closest to the normal victory condition is declared the winner (i.e. the "closest to
victory condition").</li>
<li>The Player with the highest total control points is declared the winner.</li>
<li>The Player with the highest total bullets is declared the winner.</li>
<li>Both Players pull; the Player with the higher pull is declared the winner. In the case
of a tie, repeat card pulls until there a winner is declared.</li>
</ol>

<p>Any Player suspecting an opponent of stalling at any point during the match should
immediately call a judge to observe the match.</p>

<p>Once the match has ended, Players have a time limit in which to report the match result.
The TO will announce this length of time before first round begins (typically five (5)
minutes). It is the responsibility of the Players to have this result turned in before the time
limit expires. Any and all results not reported within the time limit will result in a draw,
reported as 0-0-1.</p>

<p>In the case of an X-1, X-2 Swiss elimination cut system, the system used to determine a
winner at time is explained in <a href="#5c">Section 5.C. Round Time</a> of this document.</p>

<h3 id="3e">3.E. Time Extensions</h3>

<p>If a judge pauses a match for any reason for more than one (1) minute while the round
clock is running, he/she should extend the match time accordingly. This includes any time
needed to make a judge call.</p>

<p>If time is called during an elimination match, an additional fifteen (15) minutes will be added
to the match. Optionally, the TO may choose to run the elimination rounds without a time
limit. Once made, this choice remains in effect for the remainder of the event. It is
recommended and expected, that this be done for the Top 2 stage of the tournament. It
may be adopted earlier as time allows at the discretion of the TO. In events that stretch
across multiple days, every effort should be made to run majority or all Top X matches
under the "No Time Limit" option. If possible, this should be announced thirty (30) days
prior to the event date.</p>

<h3 id="3f">3.F. Appeals</h3>

<p>If a Player disagrees with a judge's ruling, he/she may appeal the ruling to the Head Judge.
In larger Sheriff and Marshal Events, the Head Judge may designate additional Appeals
Judges who are also empowered to hear appeals.</p>

<p>Players may not appeal before the full ruling is made by the responding floor judge. Rulings
made by the Head Judge or designated Appeals Judges are final.</p>

<h3 id="3g">3.G. Dropping from a Tournament</h3>

<p>Players may drop from a tournament at any time. If a Player drops from a tournament
before the first round has started, he/she is considered to have not participated in the
tournament at all. Players choosing to drop from a tournament must inform the Scorekeeper
by the means provided for that tournament before the pairings for the next round are
generated. Players wanting to drop after the Scorekeeper begins pairing for the next round
will be paired for that round. If a Player does not show up for his/her match within ten (10)
minutes after the round has begun, he/she will be automatically dropped from the
tournament unless they report to the Scorekeeper within that time. Players that repeatedly
and/or intentionally drop from tournaments without informing the Scorekeepers of those
events may be the subject of penalties up to and including suspension from future events.</p>

<p>If a Player drops from a tournament after a cut has been made, such as a cut to the Top 8,
no other Player is advanced as a replacement. That Player's opponent receives a bye for the
round. A cut is considered to have been made once the cut itself or pairings for the next
round have been posted or announced.</p>

<p>Players who have dropped may re-enter a tournament at the discretion of the Head
Judge. Players may not re-enter a tournament after any cut has been made.</p>

<p>Players may not drop from a tournament in exchange for or influenced by the offer of any
reward or incentive. Doing so will be considered bribery and will be penalized as such.</p>

<h3 id="3h">3.H. Match Points</h3>

<p>All events utilize a 3-0-1 point method for match wins. This translates into all match wins
award three (3) match points, all losses award zero (0) match points, and all draws
(intentional or not) award one (1) match point.</p>

<h3 id="3i">3.I. Two Out of Three Matches</h3>

<p>This is a variant tournament format, in which the winner of each match is determined by
playing multiple games rather than a single game. The match lasts until the time limit is
reached or a single Player has won two (2) games.</p>

<p>Two out of three matches vary from single game matches in the following ways:</p>
<ul>
<li>The standard time limit for each match is sixty (60) minutes.</li>
<li>Once time is called, if the match is in the first or third game, the match result is a
draw.</li>
<li>Once time is called, if the match is in the second game, the winner of the first game
is declared the winner of the match.</li>
</ul>

<h3 id="3j">3.J. "Top of Outfit"</h3>

<p>All sanctioned events have a wide variety of prizes and prize categories. Each unique event
may and/or will be different from other events of the same tier. It is the responsibility of the
TO to announce his/her prize distribution prior to the start of play at the event. If at all
possible, large and unique prizes should be announced as soon as possible prior to the event
date.</p>

<p>In some cases, there may be "Top of Outfit" prizes:</p>
<ul>
<li>All "Top of Outfit" awards are based upon the final ranking after the completion of
the event. This includes all elimination rounds.</li>
<li>For Players that are eliminated in the same Top X round, the Players' final rankings
are determined following the completion of the event. This includes all remaining
elimination rounds.</li>
<li>Following the final match of the event, a comprehensive player ranking is available
through the event software. This ranking takes a Player's final record into account
including progress in elimination rounds and opponents' records in those rounds.</li>
<li>For outfits that are not represented in the elimination rounds, Swiss rankings are
used to determine the "Top of Outfit" Player.</li>
<li>Prizes may be awarded as the winner is determined.</li>
</ul>

<h3 id="3k">3.K. Passing and "Check"</h3>

<p>A Player cannot accidentally double-pass into a game loss. If a Player announces pass and
then his/her opponent can pass to win they must announce "Check" before doing so, in case
the other Player has simply miscounted. If they wish, the original Player can then make a
Noon play or resign the game. Similarly, if a Player is in a winning position and passes, they
should announce "Check", or otherwise inform their opponent that they have the win if their
opponent passes.</p>

<h2 id="4">Section 4: Tournament Formats</h2>

<p>As the game develops over time, alternate formats for tournament play may also become
popular. Multi-player is such an example.</p>

<p>The majority of Sheriff and Marshal Events will use the standard two-player format. Special
requests may be made by the TO through AEG for variants. Any variance from the standard
formats must be approved. AEG is the final arbitrator of any questions concerning event
formats for Sheriff and Marshal Events. The TO for each event is responsible for verifying
and then posting the event format at least thirty (30) days or as soon as the event is
announced as circumstances allow.</p>

<h3 id="4a">4.A. Card Legality</h3>

<p>All Doomtown: Reloaded cards in print are currently legal. Cards from Deadlands:
Doomtown are not legal. A general rule is that all cards are legal for play within one (1) day
of the official release date as printed on the AEG Website. Ultimately, AEG is the final
arbitrator of any questions concerning legality. The TO for each event is responsible for
verifying and then posting any variance at least thirty (30) days before the event as
circumstances allow.</p>

<h3 id="4b">4.B. Multi-Day Tournaments</h3>

<p>If a tournament spans multiple days (e.g. Swiss rounds on one day, followed by a cut to Top
X on the following day), the event is considered a single tournament and the same deck
must be played on all days.</p>

<h3 id="4c">4.C. Invitational Tournaments</h3>

<p>Tournaments requiring a qualification (such as placing in one of multiple "grinder" or
"feeder" tournaments) are distinct events and the same deck need not be maintained
between the qualifier event and the invitational event.</p>

<h2 id="5">Section 5: Sanctioning Guidelines</h2>

<h3 id="5a">5.A. Attendance</h3>

<p>All sanctioned AEG events should meet certain attendance requirements. If a Sheriff and
Marshal Event fails to meet attendance minimums, the event may no longer be sanctioned
and a report must be provided to AEG by the TO. Any unique story prizes and seeds may be
invalidated. The event may be canceled, rescheduled, or reassigned and could possibly
affect future event bids.</p>

<p>Any decisions will be up to AEG and will be made with all due consideration, only after all
other options have been explored. Factors like weather, previous attendance averages,
proximity of additional events will all be taken into account before any result is invalidated.
In the event that a result is invalidated, AEG will work the TO on any future actions.</p>

<p>Failing to reach minimum attendance requirements may affect future bids. Venue limitations
may require a maximum attendance requirement for the event. It is assumed that the venue
will be sufficient to meet the needs of the event.</p>

<p>The required attendance for events is as follows:</p>
<ul>
<li>Sheriff and Marshal Events: Sixteen (16) Players minimum, no maximum</li>
<li>Local Events: Four (4) Players minimum; no maximum</li>
</ul>

<h3 id="5b">5.B. Number of Rounds and Cuts</h3>

<p>It is important to note that the tournament formats are for official sanctioned AEG events.
Store events can choose to use either of the round formats that we suggest below.</p>

<p>The number of registered Players determines the number of rounds in any sanctioned event.
If a Player registers and drops from the event before play begins for the first round, that
Player does not count towards determining the final attendance number. The number of
rounds should be announced at or before the beginning of the first round. Once the number
of rounds is announced, it cannot be changed.</p>

<p>The following chart is the standard for sanctioned events:</p>

<table class="bordered">
<tr>
	<th>Attendance</th>
	<th>Number of Swiss Rounds</th>
	<th>Number to make the cut for Elimination Rounds</th>
</tr>
<tr>
	<td>8 (4-8 in a local event)</td>
	<td>3</td>
	<td>N/A*</td>
</tr>
<tr>
	<td>9-16</td>
	<td>4</td>
	<td>Top 2</td>
</tr>
<tr>
	<td>17-42</td>
	<td>5</td>
	<td>X-1** (12 match points)</td>
</tr>
<tr>
	<td>43+</td>
	<td>7</td>
	<td>X-2*** (15 match points)</td>
</tr>
</table>

<p>*For events of exactly 8 Players no cut is made; the top ranked Player after the Swiss
rounds is considered the winner of the event</p>

<p>**Players with no more than one (1) loss</p>

<p>***Players with no more than two (2) losses</p>

<p><a href="http://www.alderac.com/x2">http://www.alderac.com/x2</a> can be used to estimate cut size based on the number of
Players in the tournament</p>

<p>For local events, a Top X may be substituted instead of X-1/X-2</p>

<table class="bordered">
<tr>
	<th>Attendance</th>
	<th>Number of Swiss Rounds</th>
	<th>Number to make the cut for Elimination Rounds</th>
</tr>
<tr>
	<td>8 (4-8 in a local event)</td>
	<td>3</td>
	<td>N/A*</td>
</tr>
<tr>
	<td>9-16</td>
	<td>4</td>
	<td>Top 2</td>
</tr>
<tr>
	<td>17-32</td>
	<td>5</td>
	<td>Top 4</td>
</tr>
<tr>
	<td>33-64</td>
	<td>6</td>
	<td>Top 8</td>
</tr>
<tr>
	<td>65-128</td>
	<td>7</td>
	<td>Top 16</td>
</tr>
<tr>
	<td>128-256</td>
	<td>8</td>
	<td>Top 32</td>
</tr>
</table>

<p>*For events of exactly 8 Players no cut is made; the top ranked Player after the Swiss
rounds is considered the winner of the event</p>

<p>Players participate in a number of rounds of Swiss based on the attendance value of the
event. Following the Swiss rounds, the Players move into an Elimination Structure until a
single final winner is determined. The Elimination Bracket is formed based on final ranking
after the Swiss rounds as above.</p>

<p>As soon as the last match of the last Swiss round is finished, reported, and entered into the
system, the Scorekeeper will provide the TO with a complete ranking. The TO will then
utilize this list to determine the proper bracket for use in the Elimination Rounds, fill in Bye's
to the next power of 2 (4, 8, 16, 32, etc.), then the elimination rounds should be seeded,
with the highest ranked Player in the Swiss playing against the lowest, the second highest
against the second lowest, and so on. The bracket should be organized in such a way as to
ensure that this works in each round. For example in a 16-Player event, the leader after the
Swiss rounds should play the 16th Player in the first elimination round, the winner of the 8th
versus 9th in the next, and so on.</p>

<h3 id="5c">5.C. Round Time</h3>

<p>Each round has a specified time limit, typically forty (40) minutes.</p>

<p>It is the responsibility of the TO to announce when time begins and ends. An additional
announcement is required at the 35-minute mark to provide a five (5) minute warning. If
this warning is delayed or not provided, the round is extended to correspond to the delay.
All efforts should be made to avoid any delays and if they occur habitually a new
Scorekeeper should be appointed. Additionally excessive abuse of round delays due to
failure to provide warnings should be reported to the AEG Major Events Manager.</p>

<h4>Swiss</h4>

<p>Players must determine a match winner before the time limit ends. At the end of the time
limit, follow all procedures listed under <a href="#3d">Section 3.D. End-of-Match Procedure</a> of this
document, depending on the nature of the event.</p>

<p>Players will be given a time limit within which to report match results by the judge. All
results must be reported before the time limit. Any match not reported within the time limit
becomes a draw.</p>

<h4>Cut (Finals, Top 4, Top 8 ...)</h4>

<p>If the elimination rounds are being done using the two out of three format detailed under
<a href="#3i">Section 3.I. Two Out of Three Matches</a> of this document, Players have sixty (60) minutes to
complete their match once the round begins. Unlike Swiss rounds, there is a built in
extension of fifteen (15) minutes as discussed above if no winner is determined within the
time limit.</p>

<p>Refer to the <a href="#3d">Section 3.D. End-of-Match Procedure</a> and <a href="#3e">Section 3.E Time Extensions</a> for
further details.</p>

<p>Alternatively, a TO may run Cut rounds under a 100-minute or no time limit option. This
must be announced after Cut matches have been made but before the first round begins.
Once this decision is made, the TO cannot reduce the time limit for further Cut matches.
This is optional but is recommended for multi-day events or should time allow.</p>

<p>The following are additional miscellaneous time limits that must be followed:</p>
<ul>
<li>Any event lasting six (6) or more rounds in length must provide at least one (1)
30-minute food break.</li>
<li>A TO should plan for at least a lunch break for any Sheriff and Marshal Event. The
option to provide a second break should be considered assuming time allows. The TO
is the final authority on time limits for a tournament. However, any deviation must
be announced prior to and during tournament registration.</li>
<li>A TO may request a specific variance from AEG. Any request must come at least
thirty (30) days prior to the event and will be given full consideration before such a
request is granted or denied. Assuming approval, any such variance must be posted
with the other relevant event details so Players know what to expect.</li>
<li>In timed rounds, Players must wait for the officially tracked time to begin before
starting their match.</li>
</ul>

<h3 id="5d">5.D. Event Schedule</h3>

<p>Sanctioned events fall into two (2) categories: Single-day and Multi-day events. The
schedule of every event should be established to allow the event to be fully completed within
the time frame. Events not fully completed may have their results invalidated. It is
recommended that events with extremely high expected turnout should schedule
extra time or additional days.</p>

<p>Single-day events should start no later than 11:00am for Sheriff and Marshal Events.
However, it is recommended and encouraged to begin earlier depending on expected turnout
(10:00am start time is a good target). Multi-day events should start no later than 12:00pm.</p>

<p>An event should start registering Players thirty (30) minutes to one (1) hour prior to start
time. This should be announced with the event when the event is listed. The TO should allow
time to seat the first round and make announcements prior to the listed start time. Any
event lasting longer than six (6) rounds must include a lunch break lasting at least thirty
(30) minutes. It is recommended that this should fall around 1:00pm - 2:00pm between
rounds of Swiss. It is also recommended for full day events that a dinner break should be
taken into consideration. A dinner break is not required. All break-related decisions are the
responsibility of the TO.</p>

<p>A example schedule for a 64-person event would be as follows:</p>
<ul>
<li>9:00 - 9:45am - Player Registration</li>
<li>9:50am - TO posts Round 1 pairings and Players find seats; all pre- event
announcements are made at this time</li>
<li>10:00am exactly - Play begins allowing for 40-minute rounds and ten (10) to fifteen
(15) minutes to pair/begin the next round</li>
<li>12:30pm (approximate end of Round 3) - Lunch break</li>
<li>1:30pm - Further announcements and Swiss rounds resume; play remaining Swiss
rounds and compute and announce the Cut</li>
<li>5:00pm - Elimination rounds begin</li>
<li>9:00pm - Event completion assuming single elimination cut rounds and prize
distribution</li>
</ul>

<p>The above is an example of a hypothetical event schedule. An actual event may finish earlier
or later depending upon unforeseen variables. TOs should plan accordingly.</p>

<h3 id="5e">5.E. Venue Logistics</h3>

<p>The venue used for all sanctioned events should meet a variety of minimum requirements.
Some factors can modify these requirements. Any such variations for Sheriff or Marshal
Events must be preapproved through AEG. All TOs must provide a valid venue option with
any application for Sheriff and Marshal sanctioning. Failure to provide a valid venue will
cause an application to be denied. The AEG Major Events Manager will notify the applicant
TO for any event that meets all other requirements prior to denial.</p>

<p>The following are minimum venue requirements for Sheriff Events:</p>
<ul>
<li>Enough table space to accommodate sixty-four (64) Players</li>
<li>Access to at least three (3) eating establishments within a 2-mile radius</li>
<li>Access to the space between the hours of 9am and 10pm</li>
</ul>

<p>The following are <i>recommended</i> minimum venue requirements for Deputy Events:</p>
<ul>
<li>Enough table space to accommodate twenty (20) Players</li>
<li>Access to at least two (2) eating establishments within a 2-mile radius</li>
<li>Access to the space between the hours of 9am and 5pm</li>
</ul>

<p>Factors like average yearly attendance numbers, geography, and weather will all be taken
into account when looking at proposed venues.</p>

<h3 id="5f">5.F. Electronic Event Software</h3>

<p>All Sheriff and Marshal Events must use electronic event software. The Scorekeeper is
responsible for knowing and using this software in all events.<p>

<h2 id="6">Section 6: : Judging Resources</h2>

<h3 id="6a">6.A. Active Judging</h3>

<p>Active judging is defined as actively monitoring a game in progress, watching for any rules
violations. It is the responsibility of the Head Judge to actively judge any and all games in
progress during all rounds. The Head Judge should be on the floor at all times during game
play. A Floor Judge may assume this role temporarily as needed by circumstance (see
<a href="#2b">Section 2.B. Head Judge</a> and <a href="#2c">Section 2.C. Floor Judge</a> in this document concerning the
responsibilities of judges).</p>

<p>Elimination matches require a unique direct active judge for every two (2) matches
underway. The Head Judge and TO should coordinate these judges. For all elimination
rounds prior to the final match, Floor Judges can assume this duty. The Head Judge must
actively judge the final match.</p>

<p>It is the responsibility of any participant to report any rules violation they witness to the
Head Judge immediately. The Head Judge will then investigate and arbitrate as needed.</p>

<h3 id="6b">6.B. Violations & Penalties</h3>

<p>All tournament violations have a corresponding penalty. The severity of the penalty is
dependent on a variety of factors, including severity of the violation, a Player's number of
violations, and a Player's frequency of violations. It is the responsibility of the Head Judge to
arbitrate any infraction, taking these factors into account. In some cases, additional factors
may apply. The Head Judge should report any penalty awarded to the TO. Any penalty
awarded by the Head Judge is final.</p>

<p>The TO will only become involved in the case of an extremely severe infraction, or in the
case of an infraction not directly relating to the playing of the game. It is the responsibility
of the TO to report to AEG any written warnings or more severe penalties, administered at
the event. The TO should include a written report from the Head Judge concerning these
violations, and submit it to AEG. Players that commit repeated violations will be tracked for
possible future increased penalties. These are at the discretion of AEG and will only occur in
the most severe or repeated cases. AEG will investigate any violations that result in
disqualification from an event.</p>

<p>All penalties may be contested after the event. The Head Judge and TO are the final word at
the event; there is no exception to this rule. If a Player feels they have been unfairly
penalized or targeted that Player should contact AEG at: <a href="mailto:events@alderac.com">events@alderac.com</a>.</p>

<p>For full guidelines concerning violations and their corresponding penalties, refer to the AEG
Code of Conduct, which can be found alongside this document at
<a href="http://www.alderac.com/doomtown/rules/">http://www.alderac.com/doomtown/rules/</a>. The Code of Conduct is the full guide to
infractions and rules violations reference for judges. All tournament officials are required to
be familiar with both documents prior to running any event.</p>

<h2 id="7">Section 7: Tie Break Math</h2>

<p>The following tiebreakers are used to determine how a Player ranks in a tournament:</p>
<ul>
<li>Match points</li>
<li>Match-win percentage</li>
<li>Opponents' match-win percentage</li>
<li>Event Entry</li>
</ul>

<p>The electronic event software automatically uses these factors to rank Players. Definitions of
these tiebreakers can be found in the sections below.</p>

<p>In all examples below, records are arranged in a Win-Loss-Draw format.</p>

<h3 id="7a">7.A. Match Points</h3>

<p>All events utilize a 3-0-1 point method for match wins. This translates into all match wins
award three (3) match points, all losses award zero (0) match points, and all draws
(intentional or not) award one (1) match point. Players receiving byes are considered to
have won the match.</p>

<p>For example, if a Player's record is 6-2-0, that Player has 18 match points (6 x 3, 2 x 0, 0 x
1); if a Player's record is 4-2-2, that Player has fourteen (14) match points (4 x 3, 2 x 0, 2
x 1).</p>

<h3 id="7b">7.B. Match-win percentage</h3>

<p>A Player's match-win percentage is that Player's accumulated match points divided by the
total match points possible in those rounds (generally, 3 x number of rounds played). If this
number is lower than 0.33, use 0.33 instead. The minimum match-win percentage of 0.33
limits the effect that low performances have when calculating and comparing opponents'
match-win percentage.</p>

<h3 id="7c">7.C. Opponents' match-win percentage</h3>

<p>A Player's opponents' match-win percentage is the average match-win percentage of each
opponent that Player faced (ignoring those rounds for which the Player received a bye). Use
the match-win percentage definition listed above when calculating each individual
opponent's match-win percentage.</p>

<h3 id="7d">7.D. Event Entry</h3>

<p>After performance records are taken into account, ranking tie breaks are determined based
upon who registered for the tournament first.</p>

<h3 id="7e">7.E. Byes</h3>

<p>When a Player is assigned a bye for a round, he/she is considered to have won the match
1-0. Thus, that Player earns three (3) match points. However, a Player's byes are ignored
when computing his/her match-win percentage and opponents' match-win percentage.</p>
</article>

</div>
{% endblock %}